@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nemo deleniti ut? Facere porro similique dolores, ullam sit, veritatis consequuntur quos, voluptatibus qui a nesciunt odio voluptatum minus? Voluptatem, repellendus?
        Itaque, delectus, repellendus autem deleniti nisi eum aliquid molestias asperiores unde similique quam nostrum labore dolorum repudiandae, dolorem vel non officiis mollitia? Doloribus cum voluptatum accusamus totam. Quos, modi labore!
        Architecto vel perferendis sequi deserunt expedita nam possimus esse et eaque. Alias at neque veniam, dignissimos architecto nam ducimus, necessitatibus magni recusandae placeat quod nostrum sed nobis et sit! Mollitia?
        Optio eius quisquam minus cupiditate hic, eos dignissimos ipsa vero atque? Quia, illo! Praesentium odio vel dicta voluptatem eveniet iure adipisci beatae, magnam, voluptatibus veritatis porro tenetur asperiores accusamus officia!
        Atque optio molestiae officia at laboriosam vero. Aut, doloremque fugit laborum adipisci optio error architecto fugiat? Maxime adipisci minima voluptatem repellat, porro rem, obcaecati quidem vitae deleniti veritatis quas fugit.
        Non, magni odit in tempore sapiente nesciunt voluptatibus quam libero obcaecati quaerat facere voluptas earum laboriosam autem suscipit. Illo ratione quidem qui, vitae exercitationem harum dolorum quaerat. Fugit, ea repudiandae.
        Dolor, minus facere. Voluptas, tenetur assumenda repellendus unde dicta, nam aliquid recusandae suscipit quaerat doloremque magnam! Nemo, doloremque, sequi minus eius magni provident, quisquam non iure porro hic quam inventore.
        Fugiat consequatur, deleniti accusantium voluptates doloribus aliquid autem cumque sint, laudantium quam repellat inventore dignissimos ut eius iste, consequuntur labore ea perferendis cupiditate pariatur dolore perspiciatis quod incidunt? Hic, assumenda.
        Ullam et nam quaerat est asperiores saepe? Quasi maxime animi earum numquam modi odio ducimus illo hic pariatur eius, fugit asperiores soluta et natus. Explicabo optio dolor reprehenderit expedita facere.
        Odit, suscipit placeat fugiat nisi quos quae laboriosam molestias, est debitis corrupti dicta? Cumque repellat, velit eligendi ratione iure odit excepturi itaque, tempora voluptatum tempore enim accusamus. Delectus, voluptatem consectetur?
        Consequatur, tenetur, modi ullam placeat ipsum quidem tempore id rem pariatur voluptate excepturi magni velit dolor provident quos accusantium delectus nostrum quia iusto veniam minus, reprehenderit vero consequuntur. Impedit, adipisci.
        Officiis nostrum velit sit dignissimos? Cum deserunt ducimus impedit adipisci. Debitis ut quo corporis vel non doloribus soluta vero perferendis necessitatibus quod. Itaque eos repellendus perferendis eveniet ipsam obcaecati sapiente.
        Nobis perferendis possimus culpa reiciendis optio quos quisquam neque? Architecto autem earum at accusamus cum ea hic quisquam maxime dolorum iure eligendi, voluptates consectetur, cupiditate itaque culpa laborum, modi rem?
        Cupiditate, accusantium nulla dolorum aliquam eaque debitis nobis, autem non dignissimos voluptas eveniet esse temporibus repellat aperiam dolores itaque quidem ut. Voluptates ullam veniam distinctio aliquam laboriosam velit obcaecati id?
        Provident, soluta. Autem enim, aperiam minus eius ad repellendus corporis amet voluptates architecto voluptas maxime labore error ex iusto! Neque quibusdam ducimus non natus corporis ullam iusto sequi quas quidem?
        Tenetur mollitia quos nulla saepe temporibus omnis, velit, voluptate ex veritatis modi consectetur architecto. Veritatis nihil eius a sint quasi corrupti magni corporis. At amet dignissimos harum reiciendis, accusantium ea.
        Tempora animi deserunt quo, ipsam corporis magnam voluptates voluptatem natus error perferendis necessitatibus numquam sit? Saepe reiciendis et obcaecati maxime magni dolores earum unde perferendis suscipit? Eum necessitatibus dolores iste.
        Amet voluptatem impedit reprehenderit beatae. Quae eligendi perferendis provident beatae laudantium maxime incidunt modi nihil officia nobis, asperiores nesciunt autem perspiciatis fuga doloribus voluptates. Recusandae, suscipit ipsa? Temporibus, dignissimos nostrum.
        Distinctio id deleniti, laboriosam aspernatur facere quam libero eos facilis placeat necessitatibus nobis maiores blanditiis odio debitis nesciunt est non porro officiis. Deleniti veniam totam fuga cumque esse dolorum qui.
    </p>
</div>
