@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="mb-3">@ViewData["Title"]</h1>

<div style="font-size:17px">

    <p>
        At Accounting Systems, we are committed to protecting the privacy and confidentiality of our users.
        This Privacy Policy outlines the information we collect, how we use and store it, and the measures we take to ensure its security.
        By accessing and using our website, you agree to the terms of this Privacy Policy.
    </p>

    <p>
        By using our website, you acknowledge that you have read and understood this Privacy Policy and agree to its terms and conditions.
    </p>

    <p>
        <strong>Information We Collect:</strong>
        <br />
        We may collect personal information, such as your name, contact details, and professional credentials, when you interact with our website or use our services.
        Additionally, we may collect non-personal information, such as your IP address, browser type, and referring website, to enhance your user experience and improve our services.
    </p>

    <p>
        <strong>Use of Information:</strong>
        <br />
        We use the information we collect to provide you with our services and to improve the functionality and performance of our website.
        We may also use your information to communicate with you, respond to your inquiries, and fulfill your requests. Furthermore, we may analyze the data to generate aggregated and anonymized statistics for internal purposes.
    </p>

    <p>
        <strong>Information Sharing:</strong>
        <br />
        We respect your privacy and do not sell, trade, or transfer your personal information to third parties without your consent, except as required by law or as necessary to provide our services.
        We may, however, share non-personal and aggregated information for research, marketing, or other legitimate purposes.
    </p>

    <p>
        <strong>Data Security:</strong>
        <br />
        We implement reasonable technical and organizational measures to protect your information from unauthorized access, loss, misuse, or alteration.
        Despite our efforts, please be aware that no data transmission over the internet or electronic storage system can be guaranteed to be 100% secure.
    </p>

    <p>
        <strong>Cookies and Tracking Technologies:</strong>
        <br />
        We may use cookies and similar tracking technologies to enhance your browsing experience, analyze website usage, and personalize content.
        You have the option to disable cookies through your browser settings; however, please note that this may limit certain features and functionalities of our website.
    </p>

    <p>
        <strong>Third-Party Websites:</strong>
        <br />
        Our website may contain links to third-party websites for your convenience.
        We have no control over and are not responsible for the privacy practices or content of those websites.
        We encourage you to review the privacy policies of any third-party websites you visit.
    </p>

    <p>
        <strong>Updates to the Privacy Policy:</strong>
        <br />
        We reserve the right to update or modify this Privacy Policy at any time without prior notice.
        The revised policy will be posted on our website with the updated date.
        It is your responsibility to review the policy periodically and stay informed of any changes.
    </p>

    <p>
        <strong>Contact Us:</strong>
        <br />
        If you have any questions, concerns, or requests regarding this Privacy Policy or our privacy practices, please contact us at <i>accountingsystems@gmail.com</i>
    </p>

</div>
