@page
@model WebApplicationAuth.Pages.Administration.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Administration/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ChronicIllness</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChronicIllness.Id" />
            <div class="form-group">
                <label asp-for="ChronicIllness.Title" class="control-label"></label>
                <input asp-for="ChronicIllness.Title" class="form-control" />
                <span asp-validation-for="ChronicIllness.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChronicIllness.Code" class="control-label"></label>
                <input asp-for="ChronicIllness.Code" class="form-control" />
                <span asp-validation-for="ChronicIllness.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
