@page
@model WebApplicationAuth.Pages.Administration.Appointments.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Administration/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Record.Id" />
            <div class="form-group">
                <label asp-for="Record.AppointmentDate" class="control-label"></label>
                <input asp-for="Record.AppointmentDate" class="form-control" />
                <span asp-validation-for="Record.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.AppointmentTime" class="control-label"></label>
                <input asp-for="Record.AppointmentTime" class="form-control" />
                <span asp-validation-for="Record.AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.AppointmentType" class="control-label"></label>
                <input asp-for="Record.AppointmentType" class="form-control" />
                <span asp-validation-for="Record.AppointmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Document" class="control-label"></label>
                <input asp-for="Record.Document" class="form-control" />
                <span asp-validation-for="Record.Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Result" class="control-label"></label>
                <input asp-for="Record.Result" class="form-control" />
                <span asp-validation-for="Record.Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Complaints" class="control-label"></label>
                <input asp-for="Record.Complaints" class="form-control" />
                <span asp-validation-for="Record.Complaints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Symptoms" class="control-label"></label>
                <input asp-for="Record.Symptoms" class="form-control" />
                <span asp-validation-for="Record.Symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.Diagnosis" class="control-label"></label>
                <input asp-for="Record.Diagnosis" class="form-control" />
                <span asp-validation-for="Record.Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.EmployerId" class="control-label"></label>
                <select asp-for="Record.EmployerId" class="form-control" asp-items="ViewBag.EmployerId"></select>
                <span asp-validation-for="Record.EmployerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
